<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">ArcaTest</h2>
    <div class="flex gap-4">
      <app-button (click)="openCoverageModal()">
        Cobertura de Testes
      </app-button>
    </div>
  </div>

  <div class="max-w rounded overflow-hidden shadow-lg p-4 bg-white" #fileTree>
    <p-tree
      [value]="fileTreeNodes"
      emptyMessage="Nenhum caso ou suíte de teste encontrados"
      [selectionMode]="'single'"
      [draggableNodes]="true"
      [droppableNodes]="true"
      [validateDrop]="true"
      (onNodeDrop)="onNodeDrop($event)"
      [contextMenu]="contextMenu"
      (onNodeContextMenuSelect)="onContextMenuSelect($event)"
    >
    </p-tree>
    <p-contextMenu
      #contextMenu
      [target]="fileTree"
      [model]="contextMenuItems"
      [style]="{ 'white-space': 'nowrap', width: 'auto' }"
    ></p-contextMenu>
    <p-sidebar
      [(visible)]="displaySidebar"
      [position]="'right'"
      [style]="{ width: '70%' }"
      [showCloseIcon]="true"
      [baseZIndex]="10000"
      (onShow)="onShowDetails($event)"
      (onHide)="onHideDetails($event)"
    >
      <h3 class="text-2xl font-medium mb-5">
        Detalhes @if (selectedNode?.type === 'case') { de Caso de Teste } @else
        { de Suíte de Teste }
      </h3>
      @if (selectedNode?.type === 'case') {
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
          <span class="font-medium">Nome</span>
          <span>{{ selectedNode?.data.nome }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Descrição</span>
          <span>{{ selectedNode?.data.descricao }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Testador Designado</span>
          <span>{{ selectedNode?.data.testadorDesignado?.nome || "-" }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Caso de Uso Relacionado</span>
          <span>{{ selectedNode?.data.casoDeUso?.nome || "-" }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Observações</span>
          <span>{{ selectedNode?.data.observacoes }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Prioridade</span>
          <span>{{ selectedNode?.data.prioridade }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Pré-condições</span>
          <span>{{ selectedNode?.data.preCondicao }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Pós-condições</span>
          <span>{{ selectedNode?.data.posCondicao }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Complexidade</span>
          <span>{{ selectedNode?.data.complexidade }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Status</span>
          <span>{{ selectedNode?.data.status }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Resultado Esperado</span>
          <span>{{ selectedNode?.data.resultadoEsperado }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Método</span>
          <span>{{ selectedNode?.data.metodo }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Técnica</span>
          <span>{{ selectedNode?.data.tecnica }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Dados de Entrada</span>
          <span>{{ selectedNode?.data.dadosEntrada }}</span>
        </div>
      </div>
      } @else {
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
          <span class="font-medium">Nome</span>
          <span>{{ selectedNode?.data.nome }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Status</span>
          <span>{{ selectedNode?.data.status }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Descrição</span>
          <span>{{ selectedNode?.data.descricao }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2">
          <span class="font-medium">Observações</span>
          <span>{{ selectedNode?.data.observacoes }}</span>
        </div>
        <hr class="col-span-2" />
        <div class="flex flex-col gap-2" style="padding-bottom: 64px">
          <span class="font-medium">Cobertura de Testes</span>
          <app-pie-chart
            [failed]="failed"
            [passed]="passed"
            [pending]="pending"
          ></app-pie-chart>
        </div>
      </div>
      }
    </p-sidebar>
  </div>

  <app-modal
    (close)="closeDeleteModal()"
    [open]="openDelete"
    [title]="deleteTitle"
    (confirm)="deleteSelected()"
    [message]="deleteMessage"
  >
  </app-modal>

  <app-content-modal
    (close)="closeCoverageModal()"
    [open]="openCoverage"
    [title]="'Cobertura de Testes'"
    (confirm)="closeCoverageModal()"
    confirmText="Fechar"
  >
    <app-pie-chart
      [failed]="failed"
      [passed]="passed"
      [pending]="pending"
    ></app-pie-chart>
  </app-content-modal>
</div>

<script src="./node_modules/preline/dist/preline.js"></script>
