<app-project-header
  (onBack)="navigateToArcaTest()"
  voltar="Voltar ao ArcaTest"
></app-project-header>

<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">ArcaTest</h2>
    <div class="flex gap-4">
      <app-button (click)="openCoverageModal()">
        Cobertura de Testes
      </app-button>
    </div>
  </div>

  <div class="max-w rounded overflow-hidden shadow-lg p-4 bg-white">
    <p-tree
      [value]="fileTreeNodes"
      [selectionMode]="'single'"
      [draggableNodes]="true"
      [droppableNodes]="true"
      [validateDrop]="true"
      (onNodeDrop)="onNodeDrop($event)"
      [contextMenu]="contextMenu"
      (onNodeContextMenuSelect)="onContextMenuSelect($event)"
    >
    </p-tree>
    <p-contextMenu
      #contextMenu
      [model]="contextMenuItems"
      [style]="{ 'white-space': 'nowrap', width: 'auto' }"
    ></p-contextMenu>
  </div>

  <app-modal
    (close)="closeDeleteModal()"
    [open]="openDelete"
    [title]="deleteTitle"
    (confirm)="deleteSelected()"
    [message]="deleteMessage"
  >
  </app-modal>

  <app-content-modal
    (close)="closeCoverageModal()"
    [open]="openCoverage"
    [title]="'Cobertura de Testes'"
    (confirm)="closeCoverageModal()"
    confirmText="Fechar"
  >
    <ngx-charts-pie-chart
      [results]="[
      {
        name: 'Passou',
        value: 5,
        extra: {
          percentage: '50%',
        },
      },
      {
        name: 'Falhou',
        value: 3,
        extra: {
          percentage: '30%',
        },
      },
      {
        name: 'Executando',
        value: 2,
        extra: {
          percentage: '20%',
        },
      },
    ]"
      [customColors]="[
      {
        name: 'Passou',
        value: '#6B46C1',
      },
      {
        name: 'Falhou',
        value: '#A786DB',
      },
      {
        name: 'Executando',
        value: '#C2B3E5',
      },
    ]"
      [labels]="true"
      [legend]="true"
      [legendPosition]="legendPosition"
      [doughnut]="true"
      [explodeSlices]="false"
      [gradient]="false"
      [animations]="true"
      [legendTitle]="'Legenda'"
      [margins]="[50, 20, 50, 20]"
      style="padding-bottom: 50px"
    ></ngx-charts-pie-chart>
  </app-content-modal>
</div>

<script src="./node_modules/preline/dist/preline.js"></script>
