<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">Execuções de Teste</h2>
    <div class="flex gap-4">
      <app-button (click)="navigateToCreateExecution()">
        <app-plus-icon></app-plus-icon>
        Executar Teste
      </app-button>
    </div>
  </div>
  <app-table
    [columns]="[
      'Nome',
      'Status',
      'Testador Designado',
      'Data de Execução',
      'Hora',
    ]"
    [data]="execucoes"
    customEmptyMessage="'Nenhum caso de teste encontrado'"
    addButtonLabel="'Adicionar Caso de Teste'"
    [hasDelete]="true"
    [hasEdit]="true"
    [hasExecute]="true"
    (editClick)="navigateToEditExecution($event)"
    (deleteClick)="openDeleteModal($event)"
    (executeClick)="openExecutionModal($event)"
    [entityAttributes]="[
      'nome',
      'resultado',
      'casoDeTeste:testadorDesignado:nome',
      'data',
      'hora',
    ]"
  ></app-table>

  <app-modal
    (close)="closeDeleteModal()"
    [open]="openDelete"
    [title]="'Excluir Execução de Teste'"
    (confirm)="deleteExecution()"
    [message]="
      'Tem certeza que deseja excluir a execução de teste ' +
      executionToDelete?.nome +
      '?'
    "
  >
  </app-modal>

  <app-content-modal
    (close)="closeCoverageModal()"
    [open]="openCoverage"
    [title]="'Cobertura de Testes'"
    (confirm)="closeCoverageModal()"
    confirmText="Fechar"
  >
    <ngx-charts-pie-chart
      [results]="[
        {
          name: 'Passou',
          value: 5,
          extra: {
            percentage: '50%',
          },
        },
        {
          name: 'Falhou',
          value: 3,
          extra: {
            percentage: '30%',
          },
        },
        {
          name: 'Executando',
          value: 2,
          extra: {
            percentage: '20%',
          },
        },
      ]"
      [customColors]="[
        {
          name: 'Passou',
          value: '#6B46C1',
        },
        {
          name: 'Falhou',
          value: '#A786DB',
        },
        {
          name: 'Executando',
          value: '#C2B3E5',
        },
      ]"
      [labels]="true"
      [legend]="true"
      [legendPosition]="legendPosition"
      [doughnut]="true"
      [explodeSlices]="false"
      [gradient]="false"
      [animations]="true"
      [legendTitle]="'Legenda'"
      [margins]="[50, 20, 50, 20]"
      style="padding-bottom: 50px"
    ></ngx-charts-pie-chart>
  </app-content-modal>

  <app-arcatest-execucoes-modal
    (cancel)="closeExecutionModal()"
    [open]="openExecution"
    [value]="executarTeste"
    (valueChange)="onModalValueChange($event)"
    (confirm)="changeExecutionStatus($event)"
  ></app-arcatest-execucoes-modal>
</div>
