<div class="flex h-full">
  <div style="width: 100%; display: flex">
    <div
      class="sidebar"
      style="
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
        background: #ffffff;
        border-right: 1px solid #e5e7eb;
      "
    >
      <div class="flex flex-col gap-4">
        <app-test-sidebar-item
          [isActive]="selectedTab === 'execucoes'"
          text="Execuções de Teste"
          (onClick)="navigateToTestExecutions()"
        >
          <i
            class="hero-play"
            style="
              width: 1.5em;
              height: 1.5em;
              aspect-ratio: 1;
              vertical-align: -0.125em;
              fill: currentColor;
            "
          ></i>
        </app-test-sidebar-item>
        <app-test-sidebar-item
          [isActive]="selectedTab === 'arvore'"
          text="Árvore de Testes"
          (onClick)="navigateToTestTree()"
        >
          <i
            class="hero-folder"
            style="
              width: 1.5em;
              height: 1.5em;
              aspect-ratio: 1;
              vertical-align: -0.125em;
              fill: currentColor;
            "
          ></i>
        </app-test-sidebar-item>
        <app-test-sidebar-item
          [isActive]="selectedTab === 'configuracao'"
          text="Configuração Selenium"
          (onClick)="navigateToSeleniumConfig()"
        >
          <app-gear-icon class="w-6 h-6"></app-gear-icon>
        </app-test-sidebar-item>
      </div>
    </div>
    <div class="flex flex-col flex-1">
      <app-project-header
        (onBack)="navigateToHome()"
        style="width: 100%"
      ></app-project-header>
      <div class="flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
