<div class="container px-5 py-24 mx-auto">
  <form
    [formGroup]="casoDeTesteFormGroup"
    class="border-l-4 border-violet-700 rounded-lg md:w-3/4 mx-auto flex flex-col items-center shadow-lg p-10"
  >
    <div class="rounded-full bg-violet-700 p-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="ws-10 h-10 text-white font-black"
      >
        <path
          fillRule="evenodd"
          d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
          clipRule="evenodd"
        />
      </svg>
    </div>
    <h2 class="my-4 text-xl text-center">
      @if (isEdit) { Editar } @else { Inserir }
      <span class="font-medium text-violet-700">Caso de Teste</span>
    </h2>
    <div class="mb-4 flex flex-wrap" style="gap: 1rem 0">
      <div class="relative w-full">
        <label for="nome" class="leading-7 text-sm text-gray-600"
          >Nome do Caso de Teste</label
        >
        <input
          type="text"
          id="nome"
          name="nome"
          formControlName="nome"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        @if (nome.invalid && nome.touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("nome").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-full">
        <label for="casoDeUsoId" class="leading-7 text-sm text-gray-600"
          >Caso de Uso</label
        >
        <select
          id="casoDeUsoId"
          name="casoDeUsoId"
          formControlName="casoDeUsoId"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="{{ undefined }}" disabled selected>Nenhum</option>
          @for (casoDeUso of casosDeUso; track $index) {
          <option value="{{ casoDeUso.id }}">{{ casoDeUso.nome }}</option>
          }
        </select>
        @if (casoDeTesteFormGroup.get('casoDeUsoId').invalid &&
        casoDeTesteFormGroup.get('casoDeUsoId').touched ) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("casoDeUsoId").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-full">
        <label for="testadorDesignadoId" class="leading-7 text-sm text-gray-600"
          >Testador Designado</label
        >
        <select
          id="testadorDesignadoId"
          name="testadorDesignadoId"
          formControlName="testadorDesignadoId"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="{{ undefined }}" selected>Nenhum</option>
          @for (testador of testadores; track $index) {
          <option value="{{ testador.id }}">{{ testador.nome }}</option>
          }
        </select>
        @if (casoDeTesteFormGroup.get('testadorDesignadoId').invalid &&
        casoDeTesteFormGroup.get('testadorDesignadoId').touched ) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("testadorDesignadoId").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/4 pr-1">
        <label for="tecnica" class="leading-7 text-sm text-gray-600"
          >Técnica</label
        >
        <select
          id="tecnica"
          name="tecnica"
          formControlName="tecnica"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="FUNCIONAL">Funcional</option>
          <option value="ESTRUTURAL">Estrutural</option>
        </select>
        @if (casoDeTesteFormGroup.get('tecnica').invalid &&
        casoDeTesteFormGroup.get('tecnica').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("tecnica").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/4 px-1">
        <label for="metodo" class="leading-7 text-sm text-gray-600"
          >Método</label
        >
        <select
          id="metodo"
          name="metodo"
          formControlName="metodo"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="MANUAL">Manual</option>
          <option value="AUTOMATIZADO">Automatizado</option>
        </select>
        @if (casoDeTesteFormGroup.get('metodo').invalid &&
        casoDeTesteFormGroup.get('metodo').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("metodo").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/4 px-1">
        <label for="prioridade" class="leading-7 text-sm text-gray-600"
          >Prioridade</label
        >
        <select
          id="prioridade"
          name="prioridade"
          formControlName="prioridade"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="ALTA">Alta</option>
          <option value="MEDIA">Média</option>
          <option value="BAIXA">Baixa</option>
        </select>
        @if (casoDeTesteFormGroup.get('prioridade').invalid &&
        casoDeTesteFormGroup.get('prioridade').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("prioridade").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/4 pl-1">
        <label for="complexidade" class="leading-7 text-sm text-gray-600"
          >Complexidade</label
        >
        <select
          id="complexidade"
          name="complexidade"
          formControlName="complexidade"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="COMPLEXO">Complexo</option>
          <option value="MEDIO">Médio</option>
          <option value="SIMPLES">Simples</option>
        </select>
        @if (casoDeTesteFormGroup.get('complexidade').invalid &&
        casoDeTesteFormGroup.get('complexidade').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("complexidade").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/2 pr-1">
        <label for="descricao" class="leading-7 text-sm text-gray-600"
          >Descrição</label
        >
        <textarea
          id="descricao"
          name="descricao"
          formControlName="descricao"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
        @if (casoDeTesteFormGroup.get('descricao').invalid &&
        casoDeTesteFormGroup.get('descricao').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("descricao").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/2 pl-1">
        <label for="observacoes" class="leading-7 text-sm text-gray-600"
          >Observações</label
        >
        <textarea
          id="observacoes"
          name="observacoes"
          formControlName="observacoes"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
        @if (casoDeTesteFormGroup.get('observacoes').invalid &&
        casoDeTesteFormGroup.get('observacoes').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("observacoes").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/2 pr-1">
        <label for="preCondicao" class="leading-7 text-sm text-gray-600"
          >Pré-condições</label
        >
        <textarea
          id="preCondicao"
          name="preCondicao"
          formControlName="preCondicao"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
        @if (casoDeTesteFormGroup.get('preCondicao').invalid &&
        casoDeTesteFormGroup.get('preCondicao').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("preCondicao").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/2 pl-1">
        <label for="posCondicao" class="leading-7 text-sm text-gray-600"
          >Pós-condições</label
        >
        <textarea
          id="posCondicao"
          name="posCondicao"
          formControlName="posCondicao"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
        @if (casoDeTesteFormGroup.get('posCondicao').invalid &&
        casoDeTesteFormGroup.get('posCondicao').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("posCondicao").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/2 pr-1">
        <label for="dadosEntrada" class="leading-7 text-sm text-gray-600"
          >Entrada</label
        >
        <textarea
          id="dadosEntrada"
          name="dadosEntrada"
          formControlName="dadosEntrada"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
        @if (casoDeTesteFormGroup.get('dadosEntrada').invalid &&
        casoDeTesteFormGroup.get('dadosEntrada').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("dadosEntrada").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-1/2 pl-1">
        <label for="resultadoEsperado" class="leading-7 text-sm text-gray-600"
          >Resultado Esperado</label
        >
        <textarea
          id="resultadoEsperado"
          name="resultadoEsperado"
          formControlName="resultadoEsperado"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors duration-200 ease-in-out"
        ></textarea>
        @if (casoDeTesteFormGroup.get('resultadoEsperado').invalid &&
        casoDeTesteFormGroup.get('resultadoEsperado').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            casoDeTesteFormGroup.get("resultadoEsperado").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
    </div>
    <div class="flex w-full justify-end gap-2">
      <app-button
        (onClick)="navigateToTestCases()"
        class="mb-4"
        color="secondary"
      >
        Cancelar
      </app-button>

      <app-button
        (onClick)="isEdit ? updateTestCase() : createTestCase()"
        [disabled]="!isFormValid"
      >
        @if (isEdit) { Editar Caso de Teste } @else {
        <app-plus-icon></app-plus-icon>
        Adicionar Caso de Teste }
      </app-button>
    </div>
  </form>

  <!-- Ações Automatizadas Section -->
  @if (idCaso) {
  <app-acoes-automatizadas [casoDeTesteId]="idCaso"></app-acoes-automatizadas>
  }
</div>
