<!-- <ul>
  <li *ngFor="let node of nodes; trackBy: trackNode">
    <ng-container *ngIf="node.children?.length>0">
      <button class="folder-button" (click)="onFolderButtonClick(node)">
        <label class="folder-button-label" *ngIf="!node.expand">+</label>
        <label class="folder-button-label" *ngIf="node.expand">-</label>
      </button>
       <img src="https://cdn4.iconfinder.com/data/icons/Pretty_office_icon_part_2/256/folder.png" *ngIf="!node.expand" class="folder-icon">
      <img src="https://png.pngtree.com/svg/20170614/68aed7bb8b.png" *ngIf="node.expand" class="folder-icon">
    </ng-container>
    <label [ngClass]="{'item-name': !node.children?.length }">{{node.name}}</label>
    <tree *ngIf="node.children && node.expand" [nodes]="node.children"></tree>
  </li>
</ul> -->
<!-- make this with divs -->

{{ file.nome }}

<div class="flex flex-col" [style]="{ marginLeft: '20px' }">
  @if (file.suitesFilhas.length > 0) { @for (file of file.suitesFilhas; track
  $index) {
  <app-arcatest-file [file]="file"></app-arcatest-file>
  } }@for (caso of file.casosDeTeste; track $index) {
  <app-arcatest-caso [caso]="caso"></app-arcatest-caso>
  }
</div>
