<div class="container px-5 py-24 mx-auto">
  <form
    [formGroup]="execucaoFormGroup"
    class="border-l-4 border-violet-700 rounded-lg md:w-1/2 mx-auto flex flex-col items-center shadow-lg p-10"
  >
    <div class="rounded-full bg-violet-700 p-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="ws-10 h-10 text-white font-black"
      >
        <path
          fillRule="evenodd"
          d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
          clipRule="evenodd"
        />
      </svg>
    </div>
    <h2 class="my-4 text-xl text-center">
      @if (isEdit) { Editar } @else { Inserir }
      <span class="font-medium text-violet-700">Execução de Teste</span>
    </h2>
    <div class="mb-4 flex flex-wrap" style="gap: 1rem 0">
      <div class="relative w-full">
        <label for="nome" class="leading-7 text-sm text-gray-600"
          >Nome da Execução</label
        >
        <input
          type="text"
          id="nome"
          name="nome"
          formControlName="nome"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        @if (execucaoFormGroup.get('nome').invalid &&
        execucaoFormGroup.get('nome').touched) {
        <p class="text-red-500 text-xs italic">
          {{
            execucaoFormGroup.get("nome").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-full mr-1">
        <label for="casoDeTeste" class="leading-7 text-sm text-gray-600"
          >Caso de Teste</label
        >
        <select
          id="casoDeTeste"
          name="casoDeTeste"
          formControlName="casoDeTeste"
          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="" disabled selected>Selecione o Caso de Teste</option>
          @for (caso of casosDeTeste; track $index) {
          <option value="{{ caso.id }}">{{ caso.nome }}</option>
          }
        </select>
        @if (execucaoFormGroup.get('casoDeTeste').invalid &&
        execucaoFormGroup.get('casoDeTeste').touched ) {
        <p class="text-red-500 text-xs italic">
          {{
            execucaoFormGroup.get("caso").errors.required
              ? "Campo obrigatório"
              : ""
          }}
        </p>
        }
      </div>
      <div class="relative w-full flex">
        <div class="relative w-1/2 mr-1">
          <label for="data" class="leading-7 text-sm text-gray-600"
            >Data de Criação</label
          >
          <input
            type="date"
            id="data"
            name="data"
            formControlName="data"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-5 transition-colors duration-200 ease-in-out"
          />
          @if (execucaoFormGroup.get('data').invalid &&
          execucaoFormGroup.get('data').touched) {
          <p class="text-red-500 text-xs italic">
            {{ data.errors.required ? "Campo obrigatório" : "" }}
          </p>
          }
        </div>
        <div class="relative w-1/2 mx-1">
          <label for="hora" class="leading-7 text-sm text-gray-600"
            >Hora de Criação</label
          >
          <input
            type="time"
            id="hora"
            name="hora"
            formControlName="hora"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-violet-700 focus:bg-white focus:ring-2 focus:ring-violet-700 text-base outline-none text-gray-700 py-1 px-3 leading-5 transition-colors duration-200 ease-in-out"
          />
          @if (execucaoFormGroup.get('hora').invalid &&
          execucaoFormGroup.get('hora').touched) {
          <p class="text-red-500 text-xs italic">
            {{
              execucaoFormGroup.get("hora").errors.required
                ? "Campo obrigatório"
                : ""
            }}
          </p>
          }
        </div>
      </div>
    </div>
    <div class="flex w-full justify-end gap-2">
      <app-button
        (onClick)="navigateToTestExecutions()"
        class="mb-4"
        color="secondary"
      >
        Cancelar
      </app-button>

      <app-button
        (onClick)="isEdit ? updateTestExecution() : createTestExecution()"
        [disabled]="!isFormValid"
      >
        @if (isEdit) { Editar Caso de Teste } @else {
        <app-plus-icon></app-plus-icon>
        Adicionar Caso de Teste }
      </app-button>
    </div>
  </form>
</div>
