<svg viewBox="0 0 24 24" [attr.fill]="color" xmlns="http://www.w3.org/2000/svg">
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></g>
  <g id="SVGRepo_iconCarrier">
    <rect
      x="4"
      y="4"
      width="16"
      height="16"
      rx="1"
      fill="color"
      mask="url(#mask3)"
      stroke-width="2"
      stroke-linecap="round"
    ></rect>

    <defs>
      <mask id="mask3">
        <rect
          x="4"
          y="4"
          width="16"
          height="16"
          rx="1"
          fill="white"
          mask="url(#mask3)"
          stroke-width="2"
          stroke-linecap="round"
        ></rect>
        <path
          d="M4 12L20 12"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M8 8H10"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M8 16H10"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </mask>
    </defs>
  </g>
</svg>
