<app-content-modal
  (close)="onCancel()"
  [open]="open"
  [title]="'Título da User Story'"
  (confirm)="onConfirm()"
  [showCancel]="true"
  confirmText="Salvar"
>
  <div class="gap-6 flex min-w-fit w-auto">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col">
        <span class="font-medium text-sm text-slate-700">Descrição</span>
        <br />
        <span class="text-sm bg-slate-200 p-2 rounded-md"
          >Texto da descrição</span
        >
      </div>

      <div class="flex flex-col">
        <span class="font-medium text-sm text-slate-700">DoD</span>
        <div class="flex flex-col text-sm bg-slate-200 p-2 rounded-md">
          <span>[X] Primeira tarefa</span>
          <span>[X] Segunda tarefa</span>
          <span>[ ] Terceira tarefa</span>
        </div>
      </div>

      <div class="flex flex-col">
        <span class="font-medium text-sm text-slate-700">Comentários</span>
        <div class="flex flex-col gap-2">
          <div class="bg-violet-400 gap-2 p-2 rounded-md flex flex-col">
            <span class="font-medium">Nome do comentador</span>
            <span class="text-sm bg-slate-200/50 p-2 rounded-md"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            </span>
          </div>
          <div class="bg-violet-400 gap-2 p-2 rounded-md flex flex-col">
            <span class="font-medium"
              >Nome do comentador grande demais pra caber aqui</span
            >
            <span class="text-sm bg-slate-200/50 p-2 rounded-md"></span>
          </div>
          <div
            id="comentario"
            class="bg-violet-400 gap-2 p-2 rounded-md flex flex-col"
          >
            <span class="font-medium">Nome do com.</span>
            <span class="text-sm bg-slate-200/50 p-2 rounded-md"
              >Comentário 3</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2 min-w-fit w-auto max-w-4xl">
      <div class="flex flex-col">
        <span class="font-medium text-sm text-slate-700">Responsável</span>
        <span
          class="text-sm font-sans font-semibold bg-slate-200 p-2 rounded-md w-fit"
          >Felipe de Andrade Nascimento</span
        >
      </div>

      <div class="flex flex-col">
        <span class="font-medium text-sm text-slate-700">Equipe</span>
        <span
          class="text-sm font-sans font-semibold bg-slate-200 p-2 rounded-md w-fit"
          >Breno Lisi Romano <br />
          Gustavo Mansur</span
        >
      </div>

      <div class="flex flex-col">
        <span class="font-medium text-sm text-slate-700">Anexos</span>
        <div class="flex">
          <div class="flex flex-col bg-slate-200 p-2 rounded-md w-fit">
            <span class="underline">Doc-Visao.pdf</span>
            <span class="underline">Doc-Testes.pdf</span>
            <span class="underline">Doc-Outro.pdf</span>
            <span class="underline">Doc-Ultimo.pdf</span>
          </div>

          <div
            class="bg-violet-400 p-1 ml-2 w-fit h-fit rounded-md cursor-pointer hover:text-black/80 hover:bg-violet-400/80"
          >
            <app-clip-icon></app-clip-icon>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-fit">
        <span class="font-medium text-sm text-slate-700">Tags</span>
        <div
          class="bg-slate-200 p-2 rounded-md flex flex-wrap flex-col gap-2 w-fit"
        >
          <span class="bg-blue-700 text-white p-2 rounded-md w-fit"
            >Desenvolvimento</span
          >
          <span class="bg-orange-400 p-2 rounded-md w-fit">Front End</span>
          <span class="bg-green-400 p-2 rounded-md w-fit">Módulo 2</span>
        </div>
      </div>
    </div>
  </div>
</app-content-modal>
