<app-project-header
  (onBack)="navigateToFlyingCards()"
  voltar="Voltar ao Flying Cards"
></app-project-header>

<!-- isso aqui tá dando uns negócios esquisitos, tá recarregando a página toda hora -->
<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">Kanban do projeto teste</h2>
    <app-button (click)="navigateToCreateUserStory()">
      <app-plus-icon></app-plus-icon>
      Adicionar User Story
    </app-button>
  </div>

  <div class="flex flex-grow overflow-x-auto">
    <div class="flex flex-grow" cdkDropListGroup>
      <div
        class="flex flex-col flex-grow min-w-[300px] m-10 p-5 border-r-4 bg-violet-700"
        *ngFor="let column of board.columns"
      >
        <div class="text-lg font-bold uppercase mb-5 text-white">
          {{ column.name }}
        </div>

        <div
          class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
