<app-project-header
  (onBack)="navigateToFlyingCards()"
  voltar="Voltar ao Flying Cards"
></app-project-header>

<!-- isso aqui tá dando uns negócios esquisitos, tá recarregando a página toda hora -->
<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">Kanban do projeto teste</h2>
    <div class="flex gap-2">
      <app-button (click)="navigateToSprints()">
        <app-gear-icon></app-gear-icon>
      </app-button>
      <app-button (click)="navigateToCreateUserStory()">
        <app-plus-icon></app-plus-icon>
        Adicionar User Story
      </app-button>
    </div>
  </div>

  <div class="flex flex-grow overflow-x-auto">
    <div class="flex flex-grow" cdkDropListGroup>
      <div
        class="flex flex-col flex-grow min-w-[300px] m-10 p-5 border-r-4 bg-violet-700"
        *ngFor="let swimlane of board.swimlanes"
      >
        <div class="text-lg font-bold uppercase mb-5 text-white">
          {{ swimlane.nome }}
        </div>

        <div
          class="tasks-container"
          cdkDropList
          [cdkDropListData]="swimlane.userStories"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="bg-white flex flex-col p-4 border-b-2 border-b-violet-400 gap-4 cursor-pointer"
            *ngFor="let item of swimlane.userStories"
            cdkDrag
            (click)="openTaskModal()"
          >
            {{ item }}

            <div class="flex justify-between">
              <span class="text-sm bg-slate-200 rounded-md p-1"
                >01/01/2024</span
              >
              <span class="text-sm bg-violet-400 rounded-md p-1 font-medium"
                >Documentação</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-flyingcards-task-modal
    (cancel)="closeTaskModal()"
    [open]="openTask"
    (confirm)="openTaskModal()"
  >
  </app-flyingcards-task-modal>
</div>
