<app-project-header
  (onBack)="navigateToArcaTest()"
  voltar="Voltar ao ArcaTest"
></app-project-header>

<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">Planos de Teste</h2>
    <div class="flex gap-4">
      <app-button (click)="openCoverageModal()">
        Cobertura de Testes
      </app-button>
      <app-button (onClick)="navigateToCreatePlan()">
        <app-plus-icon></app-plus-icon>
        Adicionar Plano de Teste
      </app-button>
    </div>
  </div>
  <app-table
    [columns]="['Nome', 'Descrição', 'Observações', 'Status']"
    [data]="mockupData"
    customEmptyMessage="'Nenhum caso de teste encontrado'"
    addButtonLabel="'Adicionar Caso de Teste'"
    [hasDelete]="true"
    [hasEdit]="true"
    [hasView]="true"
    (viewClick)="navigateToSuites($event)"
    (editClick)="navigateToEditPlan($event)"
    (deleteClick)="openDeleteModal($event)"
    [entityAttributes]="['nome', 'descricao', 'observacoes', 'status']"
  ></app-table>

  <app-modal
    (close)="closeDeleteModal()"
    [open]="openDelete"
    [title]="'Excluir Plano de Teste'"
    (confirm)="deletePlan()"
    [message]="
      'Tem certeza que deseja excluir o plano de teste ' +
      planToDelete?.nome +
      '?'
    "
  >
  </app-modal>

  <app-content-modal
    (close)="closeCoverageModal()"
    [open]="openCoverage"
    [title]="'Cobertura de Testes'"
    (confirm)="closeCoverageModal()"
    confirmText="Fechar"
  >
    <ngx-charts-pie-chart
      [results]="[
      {
        name: 'Passou',
        value: 5,
      },
      {
        name: 'Falhou',
        value: 2,
      },
      {
        name: 'Em Execução',
        value: 1,
      },
    ]"
      [customColors]="[
      {
        name: 'Passou',
        value: '#6B46C1',
      },
      {
        name: 'Falhou',
        value: '#A786DB',
      },
      {
        name: 'Em Execução',
        value: '#C2B3E5',
      },
    ]"
      [labels]="true"
      [legend]="true"
      [doughnut]="true"
      [explodeSlices]="false"
      [gradient]="false"
      [animations]="true"
      [legendTitle]="'Legenda'"
      style="margin-bottom: -70px"
    ></ngx-charts-pie-chart>
  </app-content-modal>
</div>
