<app-project-header
  (onBack)="navigateToArcaTest()"
  voltar="Voltar ao ArcaTest"
></app-project-header>

<div class="px-8 py-5">
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-medium mb-5">Suites de Teste</h2>
    <app-button (onClick)="navigateToCreateSuite()">
      <app-plus-icon></app-plus-icon>
      Adicionar Suite de Teste
    </app-button>
  </div>
  <app-table
    [columns]="['Nome', 'Descrição', 'Observações', 'Status']"
    [data]="mockupData"
    customEmptyMessage="'Nenhum caso de teste encontrado'"
    addButtonLabel="'Adicionar Caso de Teste'"
    [hasDelete]="true"
    [hasEdit]="true"
    [hasView]="true"
    (deleteClick)="openDeleteModal($event)"
    (viewClick)="navigateToCases($event)"
    (editClick)="navigateToEditSuite($event)"
    [entityAttributes]="['nome', 'descricao', 'observacoes', 'status']"
  ></app-table>

  <app-modal
    (close)="closeModal()"
    [open]="openModal"
    [title]="'Excluir Suite de Teste'"
    (confirm)="deleteSuite()"
    [message]="
      'Tem certeza que deseja excluir a suite de teste ' +
      suiteToDelete?.nome +
      '?'
    "
  >
  </app-modal>
</div>
